<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css'%}">
</head>
<body>
    <h1>Home</h1>
    <div class="home">
        <div class="main">
            <form action="" method="post">
                {% csrf_token %}
                <div>
                    <input type="tel" name="roll_no" placeholder="Roll No.">
                </div>
                <div>
                    <input type="text" name="name" placeholder="Name">
                </div>
                <div>
                    <input type="tel" name="age" placeholder="Age">
                </div>
                <div>
                    <input type="submit" value="submit" class="button">
                </div>
            </form>
        </div>
    </div>

    <table>
        <tr>
            <th>Roll No.</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        {% for std in students %}
        <tr>
            <td>{{std.roll_no}}</td>
            <td>{{std.name}}</td>
            <td>{{std.age}}</td>
            <td>
                <a href="edit/{{std.roll_no}}">Edit</a>
                <a href="delete/{{std.roll_no}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <!-- <img src="{% static 'images/mythical-dragon-beast-anime-style (4).jpg' %}" alt="" width="100%" height="100%">  -->
</body>
</html>