<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css'%}">
</head>
<body>
    <h1>Home</h1>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <input type="tel" name="roll_no" placeholder="Roll No.">
            <input type="text" name="name" placeholder="Name">
            <input type="tel" name="age" placeholder="Age">
            <input type="submit" value="submit" class="button">
        </form>
    </div>

    <table>
        <tr>
            <th>Roll No.</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        {% for std in students %}
        <tr>
            <td>{{std.roll_no}}</td>
            <td>{{std.name}}</td>
            <td>{{std.age}}</td>
        </tr>
        {% endfor %}
    </table>
    <img src="{% static 'images/mythical-dragon-beast-anime-style (4).jpg' %}" alt=""> 
</body>
</html>