/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     background-color: #f4f4f9;
}

.home {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background-color: #f4f4f9;
}

/* Main container styling */
.main {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form elements styling */
form div {
    margin-bottom: 15px;
}

input[type="tel"],
input[type="text"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all 0.3s ease;
}

/* Input fields styling */
input[type="tel"],
input[type="text"] {
    background-color: #fafafa;
}

input[type="tel"]:focus,
input[type="text"]:focus {
    outline: none;
    border-color: #3a87ad;
    box-shadow: 0 0 5px rgba(58, 135, 173, 0.3);
}

/* Submit button styling */
.button {
    background-color: #3a87ad;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.button:hover {
    background-color: #33709d;
}

table{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

th,td{
    border: 2px solid black;
    width: 200px;
    text-align: center;
}